*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

/* Header styles */
.peer-support-heading{
    display: flex;
    align-items: center;
    margin: 3rem 0 1rem 2rem;
}
.header-img
{
    max-width: 100px;
}
.header-text
{
    margin-left: 1rem;
    font-size: 1.625rem;
    font-weight: 600;
}

/* Social Media Handles */
.social-media {
  position: fixed;
  top: 50%;
  right: 0;
  padding: 10px;
  background-color: #1e9494; /* Adjust background color as needed */
  z-index: 1000; /* Ensure the social media icons appear above other content */
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Align items vertically */
  
}

.social-icon {
  margin-bottom: 10px; /* Adjust spacing between social media icons */
  display: inline-block; /* Ensure each icon is displayed as a block element */
  color: #333; /* Adjust icon color */
  font-size: 24px; /* Adjust icon size */
}


/* NavBar styles */
  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #1e9494;
    border-radius: 2rem 0rem 0rem 2rem;
    margin: 0rem 0rem 3rem 1rem;
    
  }
  nav ul {
    margin-left: auto;
    margin-right: 1.725rem;
    list-style: none;
    display: flex;
  }
  nav a {
    text-decoration: none;
  }
  nav ul a {
    font-size: 1.325rem;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 1px;
  }
  #ham-menu {
    display: none;
  }
  #logo
  {
    display: none;
  }
  nav ul.active {
    left: 0;
  }
  .list
  {
    padding: 1.25rem;
    border-radius: 40px;
  }
  /* @media only screen and (max-width: 1116px) {
    nav ul a
    {
      font-size: 1rem;
    }
  } */
  @media only screen and (max-width: 965px) {
    html {
      font-size: 75%;
    }
   /* body
   {
    margin: 0;
   }
    #ham-menu {
      display: block;
      color: #ffffff;
    }
    #logo
    {
        display: block;
    }
    .peer-support-heading
    {
      display: none;
    }
    .ham-logo
    {
      width: 3rem;
    }
    nav a#logo,
    #ham-menu {
      font-size: 3.2rem;
    }
    nav ul {
      background-color: black;
      position: fixed;
      left: -100vw;
      top: 73.6px;
      width: 100vw;
      height: calc(100vh - 73.6px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transition: 1s;
      gap: 0;
    } */
  }
  @media only screen and (max-width: 754px) {
    html {
      font-size: 60%;
    }
    nav ul a {
      font-size: 1.25rem;
      
    }
    /* nav ul{
      top: 65.18px;
      height: calc(100vh - 65.18px);
    } */
    .list
  {
    padding: 1rem;
    border-radius: 40px;
  }
  }
  @media only screen and (max-width: 570px) {
   nav ul a {
      font-size: .77rem;
    }
    .list
    {
      padding: .51rem;
    }
  }
  


    /* Footer Styles */
    footer
    {
      padding: 1rem 2.25rem 1.7rem 2.25rem;
    }
    .footerHeader{
      font-weight: 600;
      font-size: 1.7rem;
      margin-bottom: 1.7rem;
    }
    .footercontainer
    {
      display: flex;
      justify-content: space-between;
    }
    .divideCon
    {
      display: flex;
      width: 45%;
    }
    .divideLine
    {
      border: 1px solid black;
      height: 200px;
    }
    .Contact
    {
      font-weight: 600;
      font-size: 1rem;
      letter-spacing: 1px;
    }
    .Contact p{
      padding: .5rem;
    }
    .CompanyDetails
    {
      padding-left: 1.25rem;
      font-weight: 400;
      font-size: 1rem;
      letter-spacing: 1px;
    }
    .CompanyDetails p
    {
      padding: .5rem;
    }
    